[DEFAULT]
# 0 = ERROR, 1 = WARNING, 2 = INFO, 3 = DEBUG
verbosity = 2
use_browser_profile = True
browser_profile_path = browser_profile
browser_user_agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36

# The chatbot to use. 
# Possible values: anthropic, deepseek, grok, mistral, openai
chatbot = mistral

# Stream response?
stream = True